<div class="row">
  <h1><%= current_supervisor.name %>管理者ページ</h1>
  
  <%= render "supervisors/tab" %>
  <%= render 'updates/update_button'%>
  <%= render 'rakuten_scrapings/scraping_button'%>
  <%= render 'storages/storage_button'%>

  
</div>