<%= render 'recipes/tab' %>
    <h1>カテゴリ別レシピ</h1>

<div class="container">
  <div class="row">
    <!--カテゴリ一覧　サイドバーに表示-->
    <div class="col-xs-2">
      <ul class="list-group">
        <% Category.all.each_with_index do |category,i| %>
        <% break if i==12 %>
          <li class="list-group-item">
            <%= link_to category.name,
            :action => "category", :category_id => category.rakuten_category_id %>
          </li>
        <% end %>
      </ul>
    </div>
   


<!--カテゴリ別レシピ表示部分-->
    <div class="col-xs-10">
  
      <% @category_recipes.each do |recipe| %>
        <div class="item">
          <div class="col-md-4 col-sm-5 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading text-center">
                <a href= "<%= recipe.url %>" target="_blank">
                  <div class="sample2">
                    <img src="<%= recipe.food_image_url %>" alt="" width="200" height="180" >
                    <div class="mask">
		                  <div class="caption">楽天レシピで<br>詳細を確認する</div>
		                </div>
                  </div>
                </a>
              </div>
            <div class="panel-body">
            <!--表示が崩れるため文字は１５文字までとする-->
              <p class="item-title"><%= truncate(recipe.title, length: 15) %></p>
              <%= render 'likes/like_button', recipe: recipe %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
