  <div class="row">
    <%= render 'recipes/tab' %>
    <% @recipes.each_with_index do |recipe,i| %>
      <% if recipe.category_id == @recipes[i-1].category_id %>
      <% else %>
        <h2><%= recipe.category_id %></h2>
      <% end %>
      <div class="item">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <a href= "<%= recipe.url %>" target="_blank">
                <img src="<%= recipe.food_image_url %>" alt="" width="200" height="180" >
              </a>
            </div>
            <div class="panel-body">
              <!--表示が崩れるため文字は１５文字までとする-->
              <p class="item-title"><%= truncate(recipe.title, length: 15) %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>