  <div class="row">
    <%= render 'recipes/tab' %>
    
    <% categories = Category.all %>
    <% categories.each_with_index do |category,i| %>
      <%  break if i==12  %>
      <% recipes = Recipe.where(category_id: category.rakuten_category_id, update_date: Update.last.update_date) %>
      <div class="recipelist">
        <h2><%= category.name %></h2>
        <% recipes.each do |recipe|%>
          <!--表示部分 -->
          <div class="item">
            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading text-center">
                  <a href= "<%= recipe.url %>" target="_blank">
                    <div class="sample2">
                      <img src="<%= recipe.food_image_url %>" alt="" >
                      <div class="mask">
	                      <div class="caption">楽天レシピで<br>詳細を確認する</div>
		                  </div>
                    </div>
                  </a>
                </div>
                <div class="panel-body">
                  <!--表示が崩れるため文字は１５文字までとする-->
                  <p class="item-title"><%= truncate(recipe.title, length: 15) %></p>
                  <% if logged_in? %>
                    <%= render 'likes/like_button', recipe: recipe %>
                    <%= render 'storage_lists/storage_list_button', recipe: recipe %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
  