<%= render 'recipes/tab' %>
<h1>ランダムレシピ</h1>
<p>お忙しい方必見！</p>
<p>楽天レシピの中からランダムに５レシピを抽出します。</p>
<p>ついつい決まったものばかり食べてしまいがちですが、</p>
<p>この機会に新しいレシピに挑戦してみてください！</p>
<%= link_to '違うレシピを表示する', recipes_random_path, class: 'btn btn-success btn-lg' %>
<p></p>
<div class="item">
   <% @random_recipes.each do |recipe| %>
    <div class="col-md-3 col-sm-4 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <a href= "<%= recipe.url %>" target="_blank">
            <div class="sample2">
              <img src="<%= recipe.food_image_url %>" alt="" >
              <div class="mask">
		            <div class="caption">楽天レシピで<br>詳細を確認する</div>
		          </div>
            </div>
          </a>
        </div>
        <div class="panel-body">
          <!--表示が崩れるため文字は１５文字までとする-->
          <p class="item-title"><%= truncate(recipe.title, length: 15) %></p>
          <% if logged_in?%>
            <%= render 'likes/like_button', recipe: recipe %>
            <%= render 'storage_lists/storage_list_button', recipe: recipe %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

