<%= render 'recipes/tab' %>
<h1>レシピ検索</h1>
<p>食材の名前からレシピを検索！</p>
<p></p>

<div class="search">
  <div class="row">
    <div class="text-center">
      <%= form_tag(recipes_search_path, method: :get, class: 'form-inline') do %>
        <div class="form-group">
          <%= text_field_tag :keyword, @keyword, class: 'form-control input-lg', placeholder: "食材名を入力", size: 40 %>
        </div>
        <%= submit_tag '商品を検索', class: 'btn btn-success btn-lg' %>
      <% end %>
    </div>
  </div>
</div>

<div class="item">
  <% unless @recipes== nil %>
  <% @recipes.each do |recipe| %>
    <div class="col-md-3 col-sm-4 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <a href= "<%= recipe.url %>" target="_blank">
            <div class="sample2">
              <img src="<%= recipe.food_image_url %>" alt="" >
              <div class="mask">
		            <div class="caption">楽天レシピで<br>詳細を確認する</div>
		          </div>
            </div>
          </a>
        </div>
        <div class="panel-body">
          <!--表示が崩れるため文字は１５文字までとする-->
          <p class="item-title"><%= truncate(recipe.title, length: 15) %></p>
          <% if logged_in?%>
            <%= render 'likes/like_button', recipe: recipe %>
            <%= render 'storage_lists/storage_list_button', recipe: recipe %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
</div>

