<!--買物リスト登録レシピ-->
  <h1>買物リスト</h1>
    <div class="item">
      <% current_user.buy_storage_recipes.each do |recipe| %>
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <a href= "<%= recipe.url %>" target="_blank">
                <div class="sample2">
                  <img src="<%= recipe.food_image_url %>" alt="" width="200" height="180" >
                  <div class="mask">
		                <div class="caption">楽天レシピで<br>詳細を確認する</div>
		              </div>
                </div>
              </a>
            </div>
            <div class="panel-body">
              <!--表示が崩れるため文字は１５文字までとする-->
              <p class="item-title"><%= truncate(recipe.title, length: 15) %></p>
              <%= render 'likes/like_button', recipe: recipe %>
              <%= render 'storage_lists/storage_list_button', recipe: recipe %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    
<!--買物リスト食材一覧-->
<div class="col-xs-12">
  <h1>食材リスト</h1>
  <table class="table">
    <thead>
      <tr>
        <th>食材</th>
        <% @user.buy_storage_recipes.each do |recipe|%>
          <th><%= truncate(recipe.title, length: 15) %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @uniqlist.each do |l| %>
            <tr>
              <td><%= l.name %></td>
              <% @user.buy_storage_recipes.each do |recipe|%>
                <% unless Storage.where(recipe_id: recipe.id, food_id: l.id).empty?%>
                  <% storages = Storage.where(recipe_id: recipe.id, food_id: l.id) %>
                  <% storage = storages.first %>
                  <td><%= RakutenScraping.find(storage.rakuten_scraping_id).rakuten_food_amount %></td>
                <% else %>
                  <td></td>
                <% end %>
              <% end %>
            </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!--買物リスト登録フォーム-->
<div class="col-xs-12">
  <%= render 'lists/new_form' %>
</div>